create table rundeck.execution
(
    id                           bigint primary key,
    version                      bigint       not null,
    scheduled_execution_id       bigint       null,
    do_nodedispatch              bit          null,
    node_exclude_os_arch         longtext     null,
    node_keepgoing               bit          null,
    succeeded_node_list          longtext     null,
    retry_attempt                int          null,
    node_include                 longtext     null,
    retry_prev_id                bigint       null,
    success_on_empty_node_filter bit          null,
    extra_metadata               longtext     null,
    node_exclude_os_version      longtext     null,
    timeout                      longtext     null,
    node_exclude_precedence      bit          null,
    node_exclude_name            longtext     null,
    node_include_os_version      longtext     null,
    node_exclude_os_name         longtext     null,
    retry                        longtext     null,
    filter                       longtext     null,
    orchestrator_id              bigint       null,
    node_include_name            longtext     null,
    rduser                       varchar(255) not null,
    retry_original_id            bigint       null,
    execution_type               varchar(30)  null,
    node_include_os_name         longtext     null,
    abortedby                    varchar(255) null,
    filter_exclude               longtext     null,
    node_exclude                 longtext     null,
    node_rank_order_ascending    bit          null,
    node_include_os_arch         longtext     null,
    loglevel                     varchar(255) null,
    node_exclude_os_family       longtext     null,
    node_include_os_family       longtext     null,
    cancelled                    bit          not null,
    retry_delay                  longtext     null,
    workflow_id                  bigint       null,
    timed_out                    bit          null,
    failed_node_list             longtext     null,
    arg_string                   longtext     null,
    user_role_list               longtext     null,
    node_rank_attribute          varchar(255) null,
    date_completed               datetime(6)  null,
    outputfilepath               longtext     null,
    server_nodeuuid              varchar(36)  null,
    will_retry                   bit          null,
    retry_execution_id           bigint       null,
    node_exclude_tags            longtext     null,
    exclude_filter_uncheck       bit          null,
    node_threadcount             int          null,
    node_include_tags            longtext     null,
    date_started                 datetime(6)  null,
    status                       varchar(255) null,
    node_filter_editable         bit          null,
    project                      varchar(255) not null
);
create table rundeck.scheduled_execution
(
    id                            bigint auto_increment primary key,
    version                       bigint        not null,
    log_output_threshold          varchar(256)  null,
    do_nodedispatch               bit           null,
    next_execution                datetime(6)   null,
    date_created                  datetime(6)   not null,
    node_keepgoing                bit           null,
    node_exclude_os_arch          longtext      null,
    uuid                          varchar(255)  null,
    node_include                  longtext      null,
    success_on_empty_node_filter  bit           null,
    node_exclude_os_version       longtext      null,
    timeout                       longtext      null,
    node_exclude_precedence       bit           null,
    node_exclude_name             longtext      null,
    notify_avg_duration_threshold longtext      null,
    day_of_week                   varchar(255)  null,
    node_include_os_version       longtext      null,
    node_exclude_os_name          longtext      null,
    retry                         longtext      null,
    filter                        longtext      null,
    group_path                    varchar(2048) null,
    scheduled                     bit           not null,
    orchestrator_id               bigint        null,
    node_threadcount_dynamic      varchar(255)  null,
    node_include_name             longtext      null,
    multiple_executions           bit           null,
    time_zone                     varchar(256)  null,
    rduser                        varchar(255)  null,
    node_include_os_name          longtext      null,
    filter_exclude                longtext      null,
    node_exclude                  longtext      null,
    node_rank_order_ascending     bit           null,
    nodes_selected_by_default     bit           null,
    node_include_os_arch          longtext      null,
    loglevel                      varchar(255)  null,
    node_exclude_os_family        longtext      null,
    execution_enabled             bit           null,
    max_multiple_executions       varchar(256)  null,
    node_include_os_family        longtext      null,
    last_updated                  datetime(6)   not null,
    retry_delay                   longtext      null,
    workflow_id                   bigint        null,
    exec_count                    bigint        null,
    month                         varchar(255)  null,
    hour                          varchar(255)  null,
    log_output_threshold_action   varchar(256)  null,
    arg_string                    longtext      null,
    user_role_list                longtext      null,
    total_time                    bigint        null,
    node_rank_attribute           varchar(255)  null,
    server_nodeuuid               varchar(36)   null,
    default_tab                   varchar(256)  null,
    node_exclude_tags             longtext      null,
    seconds                       varchar(255)  null,
    exclude_filter_uncheck        bit           null,
    ref_exec_count                bigint        null,
    node_threadcount              int           null,
    node_include_tags             longtext      null,
    job_name                      varchar(1024) not null,
    schedule_enabled              bit           null,
    year                          varchar(255)  null,
    day_of_month                  varchar(255)  null,
    node_filter_editable          bit           null,
    log_output_threshold_status   varchar(256)  null,
    description                   longtext      null,
    minute                        varchar(255)  null,
    project                       varchar(255)  not null,
    plugin_config                 longtext      null
);

-- INSERT INTO execution VALUES ();
-- INSERT INTO scheduled_execution VALUES ();
